<%= form_for [@client, @order, @client_receipt], html: { multipart: true } do |f| %>
  <% if @client_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_receipt.errors.count, "error") %> prohibited this client_receipt from being saved:</h2>

      <ul>
      <% @client_receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Numero' %><br>
    <%= f.number_field :number %>
  </div>
  <div class="form-group">
    <%= f.label 'Metros Cubicos' %><br>
    <%= f.number_field :cubic_meters %>
  </div>
  <div class="form-group">
    <%= f.label 'Valor por Metro Cubico' %><br>
    <%= f.text_field :value_per_cubic_meter %>
  </div>
  <div class="form-group">
    <%= f.label 'Fecha Trabajada' %><br>
    <%= f.date_select :date_worked %>
  </div>

  <div class="form-group">
    <%= f.label 'Foto de Recibo' %>
    <%= f.file_field :copy %> 
  </div>
  <div class="actions">
    <%= f.submit "Crear Recibo", class: 'btn btn-default' %>
  </div>
<% end %>
