<p id="notice"><%= notice %></p>
<h2>Recibo <%= @client_receipt.number %> para <%= link_to @client.name, @client %></h2>

<p>
  <strong>Number:</strong>
  <%= @client_receipt.number %>
</p>

<p>
  <strong>Cubic meters:</strong>
  <%= @client_receipt.cubic_meters %>
</p>

<p>
  <strong>Value per cubic meter:</strong>
  <%= @client_receipt.value_per_cubic_meter %>
</p>

<p>
  <strong>Date worked:</strong>
  <%= @client_receipt.date_worked %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @order.order_date %>
</p>


<%= link_to 'Edit', edit_client_order_client_receipt_path(@client, @order, @client_receipt) %> |
<%= link_to 'Back', client_order_client_receipts_path %>
