<%= main_layout do %>
  <p id="notice"><%= notice %></p>

  <h1>Todos Clientes</h1>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Ordenes</td>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= link_to client.name, client %></td>
            <td><%= client.orders.size %> ordenes</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'Nuevo Cliente', new_client_path %>
<% end %>
