<%= main_layout do %>
  <h2><%= @client.name %></h2>
  <h4>Telefono: <%= @client.phone_number %></h4>

  <h3>Ordenes</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Fecha de Orden</td>
          <td>Obra de Trabajo</td>
        </tr>
      </thead>
      <tbody>
        <% @client.orders.order(:order_date).each do |order|  %>
          <tr>
            <td>
              <%= link_to order.order_date, client_order_path(@client, order) %>
            </td>
            <td>
              <%= order.worksite %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-8">
      <%= link_to 'Nueva Orden', new_client_order_path(@client), class: "btn btn-default" %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Editar Cliente', edit_client_path(@client), class: "btn btn-default" %>
    </div>
  </div>
<% end %>
