<%= main_layout do %>
  <p id="notice"><%= notice %></p>

  <h2><%= @client.name %></h2>
  <p><%= @client.phone_number %></p>

  <% @client.orders.group_by(&:week).sort.each do |week, orders| %>
    <div>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
          <th><%= orders.first.order_date.beginning_of_week.strftime('%B %d, %Y') %> - <%= orders.first.order_date.end_of_week.strftime('%B %d, %Y') %></th>
            <th>Obra</th>
          </tr>
        </thead>
        <tbody>
          <% orders.each do |order| %>
            <tr>
              <td class="main-cell"><%= link_to order.order_date, client_order_path(@client, order) %></td>
              <td><%= link_to order.worksite, client_order_path(@client, order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <%= link_to 'Nueva Orden', new_client_order_path(@client), class: "btn btn-default" %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Editar Cliente', edit_client_path(@client), class: "btn btn-default" %>
    </div>
  </div>
<% end %>
