<h2><%= @client.name %></h2>
<h4>Telefono: <%= @client.phone_number %></h4>

<h3>Ordenes</h3>
<% @client.orders.order(:order_date).each do |order|  %>
  <%= link_to order.order_date, client_order_path(@client, order) %><br />
<% end %>

<p id="notice"><%= notice %></p>

<%= link_to 'Nueva Orden', new_client_order_path(@client) %><br />
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
