<%= form_for [@client, @order] do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    Fecha que orden fue puesta: <%= f.date_select :order_date %><br />
    Fecha que orden empieza: <%= f.date_select :start_date %><br />
    Fecha que orden termina: <%= f.date_select :end_date %><br />
    <%= f.submit %>
  </div>
<% end %>
