<%= form_for [@client, @order] do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nombre de Obra" %><br />
    <%= f.text_field :worksite, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Fecha que orden fue puesta" %><br />
    <%= f.date_select :order_date, class: "form-control" %>
  </div>
    <%= f.submit "Crear Orden", class: "btn btn-default" %>
<% end %>

