<%= main_layout do %>
  <h2>Orden <%= @order.order_date %> para <%= link_to @order.client.name, client_path(@order.client) %></h2>

  <% if @order.client_receipt %>
    <table class='table'>
      <tr>
        <th>Numero de Recibo</th>
        <th>Obra</th>
        <th>Fecha trabajado</th>
        <th>Botadero</th>
        <th>Valor de Botadero</th>
        <th>Metros Cubicos</th>
        <th>Valor por Metro Cubico</th>
        <th>Total</th>
      </tr>
      <tr>
        <td><%= @order.client_receipt.number %></td>
        <td><%= @order.worksite %></td>
        <td><%= @order.client_receipt.date_worked %></td>
        <td><%= @order.client_receipt.dump_site %></td>
        <td><%= @order.client_receipt.dump_site_value %></td>
        <td><%= @order.client_receipt.cubic_meters %></td>
        <td><%= @order.client_receipt.value_per_cubic_meter %></td>
        <td><%= (@order.client_receipt.cubic_meters) * (@order.client_receipt.value_per_cubic_meter) %></td>
      </tr>
    </table>
    <div>
      <%= image_tag @order.client_receipt.copy_url %>
    </div>
  <% else %>
    <%= link_to 'Crear Recibo', new_client_order_client_receipt_path(@client, @order), class: 'btn btn-default' %>
  <% end %>

  <p id="notice"><%= notice %></p>
  <div class='row'>
    <% if @order.client_receipt %>
    <div class="col-md-4">
      <%= link_to 'Editar Recibo', edit_client_order_client_receipt_path(@order.client, @order, @order.client_receipt), class: 'btn btn-default' %>
    </div>
  <% end %>
    <div class="col-md-4">
      <%= link_to 'Editar Orden', edit_client_order_path(@order.client, @order), class: 'btn btn-default' %>
    </div>
    <div class="col-md-4">
      <% if @order.client_receipt %>
        <%= link_to 'Borrar Recibo', client_order_client_receipt_path(@client, @order, @order.client_receipt), method: :delete, data: { confirm: 'Estas seguro que quieres borrar este recibo?' }, class: 'btn btn-default' %>
    <% end %>
    </div>
  </div>

<% end %>
