<h2>Orden <%= @order.order_date %> para <%= @order.client.name %></h2>

Start date: <%= @order.start_date %><br />
End_date: <%= @order.end_date %><br />
<%= link_to 'Crear Recibo', new_client_order_client_receipt_path(@client, @order) %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_client_order_path(@order.client, @order) %> |
<%= link_to 'Back', client_orders_path(@client) %>
