<!DOCTYPE html>
<html>
<head>
  <title>TruckManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
      <%= link_to 'Salir', destroy_user_session_path, method: :delete if user_signed_in? %>
    </div>
  </nav>
<%= yield %>

</body>
</html>
